extends layout

block navbar
  div(class='navbar-collapse collapse')
    ul(class='navbar-nav ms-auto')
      li(class='nav-item')
        a(class='btn btn-outline-dark btn-sm', href='/add') +
        span
          |&nbsp;#{user.username} | 
          a(href='/logout', class='link-dark') Logout

block content
  div(class='col-md-10 offset-md-1 mt-3 text-center')
    table(class='table')
      thead
        tr
          th(scope='col') Title
          th(scope='col') Updated
          th(scope='col')
      tbody
        each card in cards
          tr
            td
              a(class='link-dark', href=`/edit/${card._id}`)
                if card.firstName || card.lastName
                  |#{card.firstName} #{card.lastName}
                else
                  |&lt;empty&gt;
            td
              |#{card.formattedUpdatedAt}
            td
              a(class='link-dark text-decoration-none', href=`/delete/${card._id}`)
                span(class='bi bi-trash')
