extends layout

block navbar
  div
    a(class=`btn btn-outline-${elementMode} btn-sm`, href='/add') +
    if isAdmin
      |&nbsp;
      i(class='bi bi-eye')
    |&nbsp;
    span(id='username')= user.username
    |&nbsp;|&nbsp;
    a(href='/logout', class=`link-${elementMode}`) Logout

block content
  div(class='col-md-10 offset-md-1 mt-3 text-center')
    table(class='table')
      thead
        tr
          if isAdmin
            th(scope='col') User
          th(scope='col') Title
          th(scope='col') Updated
          th(scope='col')
      tbody
        each card in cards
          tr
            if isAdmin
              td(class=`table-${elementMode}`)= card.user
            td(class='js-name')
              a(class=`link-${elementMode}`, href=`/edit/${card._id}`)
                if card.firstName || card.lastName
                  |#{card.firstName} #{card.lastName}
                else
                  |&lt;empty&gt;
            td
              |#{card.formattedUpdatedAt}
            td
              a(class=`link-${elementMode} text-decoration-none`, href=`/delete/${card._id}`)
                span(class='bi bi-trash')
